.controls {padding: 10px;  margin: 0px;}

.clusterModifierContainer {width: 100%; padding: 0px; margin: 0;}

.clusterButtons {width: 15%; padding-left: 5px; padding-right: 0px;}

.clusterInput {width: 45%; position: relative; top: 2px; padding-left: 0px; padding-right: 0px;}

