.controls {padding: 10px;  margin: 0px;}

.clusterModifierContainer { display: grid; grid-template-columns: 70% 15% 15%; width: 100%;}

.clusterButtons {width: 100%; padding-left: 5px;}

.clusterInput {width: 100%; position: relative; top: 2px;}

